extends layout

block content
  h1= title
  p Welcome to #{title}

  if posts.length > 0
    each post in posts
      // Display post details
      h2= post.title
      p= post.text

      // Check if the user is logged in and active
      if user && user.status === 'active'
        // Display author and timestamp
        p Author: #{post.author.username}
        p Date: #{post.timestamp.toLocaleDateString()} #{post.timestamp.toLocaleTimeString()}

  else
    p No posts available.
